@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html, body, .App {
  height: 100%;
}

body {
  background-image: url('./images/cloud.jpg');
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .left, .right {
    width: 100%;
  }
}

.badge {
  display: inline-block;
  padding-left: 1vw;
}

.small {
  height: 5vh;
  width: auto;
}

.content {
  position: relative;
  top: 10vh;
  overflow-y: auto;
  height: 69vh;
  margin-bottom: 10vh;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext, .tooltip .tooltiptextright {
  visibility: hidden;
  /*width: 200px;*/
  font-size: calc(12px + 0.5vmin);
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
}

.tooltip .tooltiptext {
  right: 101%;
  width: 400px;
  text-align: right;
}

.tooltip .tooltiptextright {
  padding: 1%;
  text-align: left;
}

.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptextright {
  visibility: visible;
}

.App {
  font: 900 2vw 'Raleway', 'Segoe UI', roboto, ubuntu, 'sans serif';
  color: #333;
  font-size: calc(14px + 1.5vmin);
  display: flex;
  flex-flow: column;
  margin: 0;
  min-height: 100vh;
}

.footer, .header {
  font-size: calc(10px + 1vmin);
  height: 10vh;
  width: 100%;
  display: inline-block;
}

.headline {
  font-size: calc(20px + 2vmin);
  padding-right: 5vw;
  display: inline-block;
}

.App-link {
  color: #09d3ac;
}

.clipped {
  background: linear-gradient(60deg, #00c 0%, #554 30%, #3b9 50%, #554 75%, #00c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  /* linear-gradient(60deg, #00c 0%, #454 50%, #3b9 100%); */
  color: rgba(0, 0, 0, .2);
}

.shadow {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 20px;
  border: 5px solid rgba(255, 255, 255, 0.2);
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tile-image {
  width: 90%;
  height: auto;
  max-height:200px;
  padding: 10px;
}

.project-tile {
  width: 22vw;
  height: auto;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.29), 0 6px 6px rgba(0, 0, 0, 0.33);
  margin: 5px;
  background-color: white;
  padding: 10px;
  text-align: center;
  font-size: calc(10px + 1vmin);
  color:inherit;
}

.project-link:visited {
  color: inherit;
}

@media (max-width: 500px) {
  .cards {
    flex-direction: column;
  }

  .project-tile {
    width: 90%;
    margin: 5px auto;
  }
}

.nav {
  display: inline-block;
}

.nav a {
  text-align: center;
  padding: 1vw;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 0 0 55px 55px;
  background: linear-gradient(60deg, #00c 0%, #554 30%, #3b9 50%, #554 75%, #00c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  /* linear-gradient(60deg, #00c 0%, #454 50%, #3b9 100%); */
  color: rgba(0, 0, 0, .2);
  position: relative;
  line-height: 3.5em;
}

a {
  text-decoration: none
}

.specialisation {
  font-weight: bold;
  display: grid;
  cursor: default;
  position: relative;
  line-height: 2em;
  text-align: left;
  list-style: none;
  margin-left: 20%;
}
.spectialisation li {
  cursor: default;
}
